.containerProductoDetail img{
    height: 700px;
    border-radius: 1rem;
}

.comprarDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45rem;
}

.comprarDetail h5{
    font-size: 3rem;
}

.comprarDetail p{
    font-size: 2.5rem;
    margin: 2rem 0rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comprarCount{
    font-size: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    opacity: 1;
    transition: .5s;
    margin-top: .2rem;
    background-color: rgb(0, 102, 51);
    border: 1px solid rgb(0, 78, 39);
    color: white;
    border-radius: .2rem;
}

.comprarCount:hover{
    cursor: pointer;
    opacity: .5;
}

.containerProductoDetail{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: 3rem;
    width: 85%;
    height: 770px;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgb(135, 135, 135);
}

.stockDetail{
    font-size: 1.3rem !important;
    margin-top: .3rem !important;
}

.carrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0rem 0rem;
}

.carrito button{
    font-size: 1.5rem;
    padding: .3rem .9rem;
    opacity: 1;
    transition: .5s;
    background-color: rgb(0, 102, 51);
    border: 1px solid rgb(0, 102, 51);
    color: white;
    border-radius: .2rem;
}

.carrito button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.carrito p{
    font-size: 1.5rem;
    padding: .2rem 6rem;
    margin: .4rem;
    opacity: 1;
    transition: .5s;
    color: rgb(255, 255, 255);
    border-radius: .2rem;
    background-color: rgb(0, 102, 51);
    border: 1px solid rgb(0, 102, 51);
}

@media (max-width: 1300px) {
    .containerProductoDetail img{
        height: 500px;
    }
    .comprarDetail h5{
        font-size: 2rem;
    }
    .comprarDetail p{
        font-size: 1.5rem;
        margin: 1rem 0rem;
    }
    .stockDetail{
        font-size: 1rem !important;
    }
    .comprarCount{
        font-size: 1rem;
        padding: 1rem;
        font-size: 1rem;
        margin-top: .2rem;
    }
    .carrito p{
        font-size: 1.5rem;
        padding: .2rem 6rem;
        margin: .4rem;
    }
}

@media (max-width: 1100px) {
    .containerProductoDetail{
        margin-top: 1rem;
    }
    .containerProductoDetail{
        flex-direction: column;
        width: 85%;
        height: 87vh;
    }
    .containerProductoDetail img{
        height: 300px;
    }
    .comprarDetail{
        width: 100%;
    }
    .comprarDetail h5{
        font-size: 1.5rem;
    }
    .comprarDetail p{
        font-size: 1rem;
        margin: 1rem 0rem;
    }
    .carrito p{
        font-size: 1.5rem;
        padding: .2rem 6rem;
        margin: .4rem;
    }
}